@font-face {
  font-family: "RUSNeverwinter";
  src: url("https://imantiart.github.io/HomeworkModul10/fonts/rusneverwinter.ttf") format("ttf"),
    url("https://imantiart.github.io/HomeworkModul10/fonts/rusneverwinter.woff") format("woff"),
    url("https://imantiart.github.io/HomeworkModul10/fonts/rusneverwinter.woff2") format("woff2");
}



@font-face {
  font-family: "Letopis";
  src: url("https://imantiart.github.io/HomeworkModul10/fonts/Letopis.ttf") format("ttf"),
    url("https://imantiart.github.io/HomeworkModul10/fonts/Letopis.woff") format("woff"),
    url("https://imantiart.github.io/HomeworkModul10/fonts/Letopis.woff2") format("woff2");
}

@font-face {
  font-family: "Kramola";
  src: url("https://imantiart.github.io/HomeworkModul10/fonts/Kramola.ttf") format("ttf"),
    url("https://imantiart.github.io/HomeworkModul10/fonts/Kramola.woff") format("woff"),
    url("https://imantiart.github.io/HomeworkModul10/fonts/Kramola.woff2") format("woff2");
}
