html {
  background-image: url("https://imantiart.github.io/HomeworkModul10/images/backgroundHorizontal1.jpg");
  background-color: #85bb8a;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (orientation: portrait) {
    html {
  background-image: url("https://imantiart.github.io/HomeworkModul10/images/backgroundVertical.jpg");
      
    }
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  display: none;
}
